.albumlist{
    
}
.albumlist ul li{
    list-style: none;
}
.albumlist a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.singles{
    width: 300px;
    background: antiquewhite;
    margin-top: 8px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}